<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Training test suite"
       parallel="false"
       configfailurepolicy="continue">

    <test name="All tests">
        <!--<packages>-->
            <!--<package name="com.example.workshop.selenium"/>-->
        <!--</packages>-->
        <classes>
            <class name="com.example.workshop.selenium.StepsTest" />
        </classes>
    </test>

</suite>